pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "SetTimestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "timestamp",
					"value": {
						"value": "@utcnow('yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyDataToCsv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Title, COUNT(1) AS [Count] FROM Customers GROUP BY Title ORDER BY COUNT(1) DESC;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AsaCustomersTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CustomersAggregateCsv",
						"type": "DatasetReference",
						"parameters": {
							"timestamp": {
								"value": "@variables('timestamp')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"timestamp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-06T10:26:08Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}