pipeline/PipelineCopyCustomersData.json
{
	"name": "PipelineCopyCustomersData",
	"properties": {
		"activities": [
			{
				"name": "CopyCustomersDataActivity",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CustomerID",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NameStyle",
									"type": "Boolean",
									"physicalType": "BOOLEAN"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MiddleName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Suffix",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CompanyName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phone",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PasswordHash",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PasswordHash",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PasswordSalt",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PasswordSalt",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MSSqlCustomers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLSCustomersParquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "InvokeHttpTrigger1_copy1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "CopyDataToCsv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpTrigger1",
					"body": {
						"key": "value"
					},
					"method": "POST"
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyDataToCsv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Title, COUNT(1) AS [Count] FROM Customers GROUP BY Title ORDER BY COUNT(1) DESC;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AsaCustomersTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CustomersAggregateCsv",
						"type": "DatasetReference",
						"parameters": {
							"timestamp": {
								"value": "@variables('timestamp')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetTimestamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CopyCustomersDataActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "timestamp",
					"value": {
						"value": "@utcnow('yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"timestamp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-06T10:31:20Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}